<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fashion App</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Vue instance element -->
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-row class="text-h3 mb-3 mt-3" justify="center">
                        TODAY's Fashion
                    </v-row>

                    <!-- Tabs -->
                    <ul class="tab-group">
                        <li class="tab tab-A is-active">Register Fashion</li>
                        <li class="tab tab-B">View Past Fashions</li>
                    </ul>

                    <!-- Tab content -->
                    <div class="panel-group">
                        <div class="panel tab-A is-show">
                            <v-row class="mb-3 mt-3" align="center" justify="center">
                                <v-col cols="4">
                                    <select id="temp-A" v-model:value="temperature" class="temperature">
                                        <!-- Temperature options -->
                                        <option value="">Select Temperature</option>
                                        <option value="-6℃ or below">-6℃ or below</option>
                                        <option value="-5℃">-5℃</option>
                                        <option value="-4℃">-4℃</option>
                                        <option value="-3℃">-3℃</option>
                                        <option value="-2℃">-2℃</option>
                                        <option value="-1℃">-1℃</option>
                                        <option value="0℃">0℃</option>
                                        <option value="1℃">1℃</option>
                                        <option value="2℃">2℃</option>
                                        <option value="3℃">3℃</option>
                                        <option value="4℃">4℃</option>
                                        <option value="5℃">5℃</option>
                                        <option value="6℃">6℃</option>
                                        <option value="7℃">7℃</option>
                                        <option value="8℃">8℃</option>
                                        <option value="9℃">9℃</option>
                                        <option value="10℃">10℃</option>
                                        <option value="11℃">11℃</option>
                                        <option value="12℃">12℃</option>
                                        <option value="13℃">13℃</option>
                                        <option value="14℃">14℃</option>
                                        <option value="15℃">15℃</option>
                                        <option value="16℃">16℃</option>
                                        <option value="17℃">17℃</option>
                                        <option value="18℃">18℃</option>
                                        <option value="19℃">19℃</option>
                                        <option value="20℃">20℃</option>
                                        <option value="21℃">21℃</option>
                                        <option value="22℃">22℃</option>
                                        <option value="23℃">23℃</option>
                                        <option value="24℃">24℃</option>
                                        <option value="25℃">25℃</option>
                                        <option value="26℃">26℃</option>
                                        <option value="27℃">27℃</option>
                                        <option value="28℃">28℃</option>
                                        <option value="29℃">29℃</option>
                                        <option value="30℃">30℃</option>
                                        <option value="31℃">31℃</option>
                                        <option value="32℃">32℃</option>
                                        <option value="33℃">33℃</option>
                                        <option value="34℃">34℃</option>
                                        <option value="35℃">35℃</option>
                                        <option value="36℃">36℃</option>
                                        <option value="37℃">37℃</option>
                                        <option value="38℃">38℃</option>
                                        <option value="39℃">39℃</option>
                                        <option value="40℃">40℃</option>
                                        <option value="41℃ or above">41℃ or above</option>
                                    </select>

                                    <select id="temp-B" v-model:value="season" class="season">
                                        <!-- Season options -->
                                        <option value="">Select Season</option>
                                        <option value="Spring">Spring</option>
                                        <option value="Summer">Summer</option>
                                        <option value="Autumn">Autumn</option>
                                        <option value="Winter">Winter</option>
                                    </select>

                                    <select id="temp-B" v-model:value="mark" class="mark">
                                        <!-- Mark options -->
                                        <option value="">Favorite Mark</option>
                                        <option value="☆">☆</option>
                                        <option value="♡">♡</option>
                                        <option value="🌞">🌞</option>
                                        <option value="☔">☔</option>
                                        <option value="☁">☁</option>
                                    </select>
                                </v-col>

                                <v-col cols="6">
                                    <v-text-field class="ml-6 mr-6"
                                                  v-model="dress"
                                                  label="Enter Fashion Details"
                                                  placeholder="Enter fashion details…"
                                                  outlined>
                                    </v-text-field>

                                    <v-text-field class="ml-6 mr-6"
                                                  v-model="dressURL"
                                                  label="Photo URL"
                                                  placeholder="Enter photo URL…"
                                                  outlined>
                                    </v-text-field>
                                </v-col>
                            </v-row>

                            <v-row class="mb-3 mt-3" align="center" justify="center">
                                Confirm Input → Favorite: {{mark}}, Temperature: {{temperature}}, Season: {{season}}, Fashion Details: {{dress}}, Photo: {{dressURL}}
                                <v-btn v-on:click="addData" dark big color="blue">Save</v-btn>
                            </v-row>
                        </div>

                        <div class="panel tab-B">
                            <v-row class="mb-3 mt-3" justify="center">
                                <v-btn v-on:click="readData" rounded>Show List</v-btn>
                            </v-row>
                        </div>
                    </div>

                    <!-- Card Container for Fashion List -->
                    <v-row class="fashion-list">
                        <v-col v-for="data in dataList" :key="data.id" cols="12" sm="4" md="4">
                            <v-card class="mx-auto my-3" max-width="344">
                                <v-card-title>
                                    <span class="headline">Favorite: {{data.mark}}</span>
                                </v-card-title>
                                <v-card-subtitle>
                                    <span>Temperature: {{data.temperature}}</span><br>
                                    <span>Season: {{data.season}}</span>
                                </v-card-subtitle>
                                <v-card-text>
                                    <p>{{data.dress}}</p>
                                </v-card-text>
                                <v-card-actions>
                                    <v-img :src="data.dressURL" height="200" contain></v-img>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>

                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js'></script>
    <script src="./script.js"></script>
</body>
</html>
